{{#section 'css'}}
    <link rel="stylesheet" href="/css/style.css">
    <link rel='stylesheet' href='https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css'>
    <link rel="stylesheet" href="/css/product_detail.css">
{{/section}}
<div class="container-fluid mt-2 mb-3">
    <div class="row no-gutters">
        <div class="col-md-5 pr-2">
            <div class="card">
                <div class="demo">
                    <ul id="lightSlider">
                        {{#if product.img}}
                        <li data-thumb="../img/products/{{product.id}}/thumb/{{product.img.thumb}}"> <img src="../img/products/{{product.id}}/thumb/{{product.img.thumb}}" /> </li>
                        {{#each product.img.imgsExtra}}
                        <li data-thumb="../img/products/{{this}}"> <img src="../img/products/{{this}}" /> </li>
                        
                        {{/each}}
                        {{/if}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                
                <div class="about">
                    <h2><span class="font-weight-bold">{{product.name}}</span></h1>
                    <h5 class="font-weight-bold mt-4">Giá hiện tại: <span class="ml-2 text-danger">{{format_number product.price}} VNĐ</span></h4>
                    {{#if product.buy_now_price}}
                    <h5 class="font-weight-bold mt-4">Giá mua ngay: <span class="ml-2 text-danger">{{format_number product.buy_now_price}} VNĐ</span></h4>
                    {{/if}}
                </div>
                <div class="buttons">
                    {{#if product.not_sold}}
                        {{#if product.buy_now_price}}
                        <button class="btn bg-warning btn-long">Mua ngay</button>
                        {{/if}}
                    <button class="btn bg-success btn-long text-white">Đấu giá</button>
                    {{/if}}
                    <button class="btn btn-outline-danger">
                        <i class="fa fa-heart"></i> Yêu thích
                    </button>
                </div>
                <hr>
                <div class="product-description">
                    <div class="d-flex flex-row align-items-center">
                        <h5 class="card-title">
                            <i class="fa fa-calendar-check-o"></i>
                            Đăng vào lúc: <span class="text-info">{{product.time_start}}</span>
                        </h5>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <h5 class="card-title">
                            <i class="fa fa-calendar-times-o" aria-hidden="true"></i></i>
                            Đóng vào lúc: <span class="text-danger">{{product.time_end}}</span>
                        </h5>
                    </div>
                    <br>
                    <div class="mt-2"> <span class="font-weight-bold">Người bán</span> </div>
                    <div class="d-flex flex-row align-items-center">
                        <a href="/profile/{{seller.id}}">
                        <img src="https://i.imgur.com/N2fYgvD.png" class="rounded-circle store-image"></a>
                        
                        <div class="d-flex flex-column ml-1 comment-profile">
                            <div class="comment-ratings">
                             <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> 
                            </div>
                            <a href="/profile/{{seller.id}}"><span class="username">{{seller.name}}</span><div> <small class="followers">{{seller.des}}</small></div></a>
                        </div>
                    </div><br>
                    <div class="mt-2"> <span class="font-weight-bold">Mô tả</span>
                        <p>{{{product.description}}}</p>
                    </div>
                    <div class="card mt-5">
                        <div class="card-header bg-dark text-white">
                            <h5>Lịch sử đấu giá của sản phẩm</h5>
                        </div>
                        {{#if bidHistory}}
                        <table class="table table-hover border">
                            <thead>
                            <tr>
                                <th scope="col">Thời gian</th>
                                <th scope="col">Người ra giá</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Điểm đánh giá</th>
                            </tr>
                            </thead>
                            <tbody>
                            
                            
                            {{#each bidHistory}}
                            <tr>
                                <td>{{this.time}}</td>
                                <td>{{this.bidder_name}}</td>
                                <td>{{format_number this.in_bid_price}} VNĐ</td>
                                <td>
                                    <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <span class="ml-1 font-bold">{{this.ratio}}</span></div>
                                </td>
                            </tr>
                            {{/each}}
                            
                            </tbody>
                        </table>
                        {{else}}
                        <div class="card-header bg-gray text-black">
                            <span style="font-size: 14px">Chưa có ai ra giá cho sản phẩm này</span>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="card mt-2"> <h5>Sản phẩm liên quan:</h5>
            <div class="card-body">
                <div class="row">
                    <div class="top-product-item col-sm-6 mt-3 col-lg-3 col-xl">
                        <div class="card">
                            <div class="card-body">
                                <img src="./public/img/products/example.svg" alt="Sản phẩm">
                                <h5 class="card-title">Sản phẩm 1</h5>
                                <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                <h6 class="card-title">Đóng vào lúc: <span class="text-info">12/03/2021 12:01 PM EST</span></h6>
                            </div>
                            <div class="card-footer text-muted">
                                <a class="btn btn-sm btn-outline-success" href="/single_product" role="button">
                                    <i class="fa fa-gavel" aria-hidden="true"></i>
                                    Đấu giá ngay
                                </a>
                                <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    Quan tâm
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="top-product-item col-sm-6 mt-3 col-lg-3 col-xl">
                        <div class="card">
                            <div class="card-body">
                                <img src="./public/img/products/example.svg" alt="Sản phẩm">
                                <h5 class="card-title">Sản phẩm 1</h5>
                                <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                <h6 class="card-title">Đóng vào lúc: <span class="text-info">12/03/2021 12:01 PM EST</span></h6>
                            </div>
                            <div class="card-footer text-muted">
                                <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                    <i class="fa fa-gavel" aria-hidden="true"></i>
                                    Đấu giá ngay
                                </a>
                                <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    Quan tâm
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="top-product-item col-sm-6 mt-3 col-lg-3 col-xl">
                        <div class="card">
                            <div class="card-body">
                                <img src="./public/img/products/example.svg" alt="Sản phẩm">
                                <h5 class="card-title">Sản phẩm 1</h5>
                                <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                <h6 class="card-title">Đóng vào lúc: <span class="text-info">12/03/2021 12:01 PM EST</span></h6>
                            </div>
                            <div class="card-footer text-muted">
                                <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                    <i class="fa fa-gavel" aria-hidden="true"></i>
                                    Đấu giá ngay
                                </a>
                                <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    Quan tâm
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="top-product-item col-sm-6 mt-3 col-lg-3 col-xl">
                        <div class="card">
                            <div class="card-body">
                                <img src="./public/img/products/example.svg" alt="Sản phẩm">
                                <h5 class="card-title">Sản phẩm 1</h5>
                                <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                <h6 class="card-title">Đóng vào lúc: <span class="text-info">12/03/2021 12:01 PM EST</span></h6>
                            </div>
                            <div class="card-footer text-muted">
                                <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                    <i class="fa fa-gavel" aria-hidden="true"></i>
                                    Đấu giá ngay
                                </a>
                                <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    Quan tâm
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="top-product-item col-sm-6 mt-3 col-lg-3 col-xl">
                        <div class="card">
                            <div class="card-body">
                                <img src="./public/img/products/example.svg" alt="Sản phẩm">
                                <h5 class="card-title">Sản phẩm 1</h5>
                                <h6 class="card-title">Giá: <span class="text-danger">100.000vnđ</span></h6>
                                <h6 class="card-title">Đóng vào lúc: <span class="text-info">12/03/2021 12:01 PM EST</span></h6>
                            </div>
                            <div class="card-footer text-muted">
                                <a class="btn btn-sm btn-outline-success" href="#" role="button">
                                    <i class="fa fa-gavel" aria-hidden="true"></i>
                                    Đấu giá ngay
                                </a>
                                <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                    Quan tâm
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#section 'js'}}
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
<script src='https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js'></script>
<script>
    $('#lightSlider').lightSlider({
        gallery: true,
        item: 1,
        loop: true,
        slideMargin: 0,
        thumbItem: 6
    });
</script>
{{/section}}