{{#section 'title'}}
    <title>Sản phẩm: {{choseCtg}}</title>
{{/section}}
{{#section 'css'}}
    <link rel="stylesheet" href="/css/style.css">
    <style>
        #frmDownGradeSeller {
            display: none;
        }

        .btn-delete {
            text-align: center;
        }

        .img-avt {
            height: 150px;
            width: 150px;
        }

        .name-column {
            width: 400px;
        }

        .table td, .table th {
            vertical-align: middle;
            text-align: center;
            font-weight: bold;
        }

        th {
            font-size: 18px;
        }

        .dropdown-menu .dropdown-item {
            padding: 15px;
        }

        .dropdown-menu, .dropdown-item:hover {
            border-radius: 5px;
        }
        td>a{
            color: black;
            text-decoration: none;
        }
        td>a:hover{
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .clickable-row:hover{
            cursor: pointer;
        }
        /*.modal{*/
        /*    position: fixed;*/
        /*    top: 0;*/
        /*    bottom: 0;*/
        /*    right: 0;*/
        /*    left: 0;*/
        /*    background-color: #666666;*/
        /*}*/

    </style>
{{/section}}
{{#section 'js'}}
    <script>
        $('.del-product-btn').on('click', function () {
            const id = $(this).attr('data-id');
            $('#txtProID').val(id);
        });
        $('#confirmDeleteBtn').on('click', function () {
            $('#frmDelete').submit();
        });
        $(".clickable-row").on('click',function() {
            window.location = $(this).data("href");
        });
    </script>
{{/section}}
<div class="col-sm-12 mt-3">

    <div class="card">
        <h4 class="card-header bg-dark text-white">
            Quản lý sản phẩm
            <div class="dropdown float-right">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-expanded="false">
                    <b>{{choseCtg}}</b>
                </button>

                <div class="dropdown-menu dropdown-menu-right mt-1" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/products/management"><b>Tất cả</b></a>
                    <hr class="m-0">
                    {{#each categories}}
                        <a class="dropdown-item" href="?id={{id}}"><b>{{name}}</b></a>
                        <hr class="m-0">
                    {{/each}}
                </div>

            </div>
        </h4>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th class="name-column" scope="col">Tên sản phẩm</th>
                    <th scope="col">Ảnh đại diện</th>
                    <th scope="col">Tên người bán</th>
                    <th scope="col">Giá hiện tại</th>
                    <th scope="col">Ngày bắt đầu</th>
                    <th scope="col">Ngày kết thúc</th>
                    <th scope="col">Xóa sản phẩm</th>
                </tr>
                </thead>
                <tbody>
                {{#if this.list_product.length}}
                    {{#each this.list_product}}

                        <tr class="clickable-row" data-href="/products/{{proID}}">

                            <td><a href="/products/{{proID}}">{{proID}}</a></td>
                            <td style="vertical-align: center;" class="name-column"><a href="/products/{{proID}}">{{proName}}</a></td>
                            <td><a href="/products/{{proID}}"><img class="img-avt" src="/img/products/{{proID}}/thumb/{{img}}"></a></td>
                            <td><a href="/products/{{proID}}">{{accName}}</a></td>
                            <td><a href="/products/{{proID}}">{{format_number price}} VNĐ</a></td>
                            <td><a href="/products/{{proID}}">{{start}}</a></td>
                            <td><a href="/products/{{proID}}">{{end}}</a></td>

                            <td class="btn-delete">


                                <button data-id="{{proID}}" type="submit" data-toggle="modal"
                                        data-target="#exampleModal" class="btn btn-danger del-product-btn"><i
                                        class="fa fa-times"
                                        aria-hidden="true"></i></button>
                            </td>

                        </tr>

                    {{/each}}
                {{else}}
                    <tr class="">
                        <td colspan="8" class="text-center">
                            <p>Không có sản phẩm phù hợp</p>
                        </td>
                    </tr>
                {{/if}}

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Xóa sản phẩm</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="announce-confirm">Bạn có chắc chắn muốn xóa sản phẩm này khỏi danh sách ?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="button" id="confirmDeleteBtn" class="btn btn-danger">Xóa</button>
                            </div>
                        </div>
                    </div>
                </div>
                </tbody>
            </table>


        </div>


        <form id="frmDelete" action="/products/del" method="post">
            <input type="hidden" id="txtProID" name="proID" value="">
        </form>
    </div>
    <nav style="position: relative;" class="mt-1 mb-2 float-right">
        <ul class="pagination">
            {{#if this.disablePre}}
                <li class="page-item disabled">
                    <a class="page-link" href="javascript:;" tabindex="-1">Previous</a>
                </li>
            {{else}}
                <li class="page-item">
                    <a class="page-link" href="?page={{this.prePage}}" tabindex="-1">Previous</a>
                </li>
            {{/if}}
            {{#each this.pageNumber}}
                {{#if isCurrent}}
                    <li class="page-item active"><a class="page-link" href="javascript:;">{{value}}</a></li>
                {{else}}
                    <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>
                {{/if}}
            {{/each}}
            {{#if this.disableNext}}
                <li class="page-item disabled">
                    <a class="page-link" href="javascript:;">Next</a>
                </li>
            {{else}}
                <li class="page-item">
                    <a class="page-link" href="?page={{this.nextPage}}">Next</a>
                </li>
            {{/if}}
        </ul>
    </nav>


</div>