{{#section 'title'}}
    <title>Danh mục sản phẩm</title>
    <link rel="icon" href="/img/icon.png">
{{/section}}
{{#section 'css'}}
    <link rel="stylesheet" href="/css/style.css"/>
    <style>
        .err_del{
            color: red;
            font-style: italic;
            text-align: center;
        }
    </style>

{{/section}}
<div class="col-sm-12 mt-3">
    <div class="card">
        <h4 class="card-header bg-warning">
            Danh mục
        </h4>
        <table class="table table-hover mb-0">
            <thead>
            </thead>
            <tbody>
            {{#each this.categories}}
                <tr>
                    <!--                <th scope="row">{{id}}</th>-->
                    <td>{{name}}
                        {{#if parentN}}
                            - {{parentN}}
                        {{/if}}
                    </td>

                    <form action="/admin/categories/del" method="post">
                        <td class="text-right">
                            <input type="hidden" name="id" value="{{id}}">
                            <a class="btn btn-sm btn-success font-bold" href="/admin/categories/childctg?id={{id}}"
                            role="button">
                            Xem thêm
                            </a>
                            {{#if @root/isAdmin}}
                                <a  class="btn btn-sm btn-primary" href="/admin/categories/edit?id={{id}} role="button">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <button class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            {{/if}}



                        </td>

                    </form>
                </tr>
            {{/each}}
            </tbody>

        </table>
        {{#if err_del}}
            <p class="err_del">{{err_del}}</p>
        {{/if}}
        {{#if isAdmin}}
            <hr class="m-0">
            <div>
                <a href="/admin/categories/add_category" id="btn-add-ctg" type="button" class="btn btn-outline-success"><i
                        class="fa fa-plus"
                        aria-hidden="true"></i> Thêm danh mục
                </a>
            </div>
        {{/if}}
        <!--	<h4 class="card-header">-->
        <!--		Sửa lại cái QQ này-->
        <!--	</h4>-->
        <!--	<div class="card-body">-->
            <!--		{{#each this.categories}}-->
        <!--			<p><a href="/id/{{id}}">{{name}}-->
            <!--				{{#if parentN}}-->
            <!--					- {{parentN}}-->
                <!--				{{/if}}-->
        <!--			</a></p>-->
            <!--		{{/each}}-->
        <!--	</div>-->
    </div>

</div>