<div class="col-sm-12 col-md-10 col-xl-10 mt-3">
    <div class="card">
    <h4 class="card-header bg-warning">
        Danh mục
    </h4>
    <table class="table table-hover">
        <thead>
        </thead>
        <tbody>
        {{#each this.categories}}
            <tr>
<!--                <th scope="row">{{id}}</th>-->
                <td>{{name}}
                    {{#if parentN}}
                        - {{parentN}}
                    {{/if}}
                </td>
                <td class="text-right">
                    <a class="btn btn-sm btn-success font-bold" href="/admin/categories/childctg?id={{id}}" role="button">
                        Xem thêm
                    </a>
                    <a class="btn btn-sm btn-primary" href="#" role="button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-sm btn-danger" href="#" role="button">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
<!--	<h4 class="card-header">-->
<!--		Sửa lại cái QQ này-->
<!--	</h4>-->
<!--	<div class="card-body">-->
<!--		{{#each this.categories}}-->
<!--			<p><a href="/id/{{id}}">{{name}}-->
<!--				{{#if parentN}}-->
<!--					- {{parentN}}-->
<!--				{{/if}}-->
<!--			</a></p>-->
<!--		{{/each}}-->
<!--	</div>-->
</div>
</div>