{{#section 'title'}}
    <title>Danh sách sản phẩm</title>
    <link rel="stylesheet" href="/css/style.css">
{{/section}}
{{#section 'css'}}
    <style>
        .card-body > a{
            color: black;
            text-decoration: none;
        }
        .card-body > a:hover{
            color: black;
            text-decoration: none;
        }
    </style>
{{/section}}
<div class="col-sm-12 col-md-10 col-xl-10">

    <!-- Products section -->
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <div class="card">
                <div class="card-header bg-warning font-bold">
                    Danh sách sản phẩm
                </div>
                <div class="card-body">
                    <div class="dropdown text-right">
                        <button class="btn border border-secondary dropdown-toggle" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            Sắp xếp theo
                        </button>
                        <div class="dropdown-menu dropdown-menu-right shadow-sm mb-5 bg-white rounded"
                             aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Thời gian kết thúc giảm dần</a>
                            <a class="dropdown-item" href="#">Giá tăng dần</a>
                        </div>
                    </div>
                    <div class="row">
                        {{#if this.result.length}}
                            {{#each this.result}}
                                <div class="top-product-item col-sm-6 mt-3 col-md-6 col-lg-4 col-xl-4">
                                    <div class="card h-100">

                                        <div class="card-body">
                                            <a href="/products/{{id}}">
                                                <img class="product-img-4-sidebar" src="/img/products/{{id}}/thumb/{{img.thumb}}" alt="Sản phẩm">
                                                <h5 class="card-title">{{name}}</h5>
                                                <h6 class="card-title">Giá hiện tại: <span class="text-success">{{format_number price}} VNĐ</span></h6>
                                                {{#if buy_now_price}}
                                                    <h6 class="card-title">Giá mua ngay: <span class="text-danger">{{format_number buy_now_price}} VNĐ</span></h6>
                                                {{/if}}
                                                <h6 class="card-title">Đăng vào lúc: <span
                                                        class="text-info">{{time_start}}</span></h6>
                                                {{#if price_color}}
                                                    <h6 class="card-title">Đóng vào lúc: <span
                                                            class="text-info">{{time_end}}</span></h6>
                                                {{else}}
                                                    <h6 class="card-title">Đóng vào lúc: <span
                                                            class="text-danger">{{time_end}}</span></h6>
                                                {{/if}}
                                                <h6 class="card-title">Người giữ giá hiện tại: <span
                                                        class="text-info"></span></h6>
                                                {{#if bidHistory.length}}
                                                    <h6 class="card-title">Số lượt ra giá: <span
                                                            class="text-info">{{bidHistory.length}}</span></h6>
                                                {{else}}
                                                    <h6 class="card-title">Số lượt ra giá: <span
                                                            class="text-muted">Chưa có lượt ra giá nào</span></h6>
                                                {{/if}}
                                            </a>
                                        </div>

                                        <div class="card-footer text-muted">
                                            <a class="btn btn-sm btn-outline-success" href="/products/{{id}}" role="button">
                                                <i class="fa fa-gavel" aria-hidden="true"></i>
                                                Đấu giá ngay
                                            </a>
                                            <a class="btn btn-sm btn-outline-danger" href="#" role="button">
                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                                Quan tâm
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        {{else}}
                            <div class="top-product-item col-sm-6 mt-3 col-md-6 col-lg-4 col-xl-3">
                                Không tìm thấy sản phẩm cho từ khoá <span class="font-bold">'{{param}}'</span>
                            </div>
                        {{/if}}
                    </div>
                    <ul class="pagination  mt-3 justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </blockquote>
    </div>
    <!-- End Products section -->

</div>