{{#section 'title'}}
    <title>Duyệt người bán</title>
{{/section}}

{{#section 'css'}}
    <style>
        #frmAccept{
            display: none;
        }
        .clickable-row:hover{
            cursor: pointer;
        }
        td>a{
            color: black;
            text-decoration: none;
        }
        td>a:hover{
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
{{/section}}
{{#section 'js'}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script>
        var total = Number.parseInt("{{this.totalPage}}");
        var current = Number.parseInt("{{this.page}}");
        var pre = Number.parseInt(("{{this.prePage}}"));
        var next = Number.parseInt(("{{this.nextPage}}"));
        $('#pagination').twbsPagination({
            startPage: current,
            totalPages: total,
            visiblePages: 5,
            onPageClick: function (event, page) {
                var allPageElements = $('.page-link');
                for(let i =0 ;i < allPageElements.length;i++) {
                    if(allPageElements[i].innerText === 'First'){
                        allPageElements[i].href = "?page=1";
                    }
                    if(allPageElements[i].innerText === 'Last'){
                        allPageElements[i].href = "?page=" + total;
                    }
                    if(allPageElements[i].innerText === 'Previous'){
                        allPageElements[i].href = "?page=" + pre;
                    }
                    if(allPageElements[i].innerText === 'Next'){
                        allPageElements[i].href = "?page=" + next;
                    }
                }
                var pageElements = ($('.page-link').slice(2,$('page-link').length -2));
                for(let i =0 ;i < pageElements.length;i++) {
                    pageElements[i].href = "?page=" + pageElements[i].innerText;
                }
            }
        });
        var pageElements = $('.page-link');
        for(let i =0 ; i < pageElements.length;i++){
            pageElements[i].addEventListener('click',function (e){
                if(this.innerText == current){
                    e.preventDefault();
                }
                else{
                    location.href = this.href;
                }

            });
        }
        $('.acceptBtn').on('click',function (){
            const isAccept = $(this).attr('data-isAccept');
            const id = $(this).attr('data-id');
            $('#txtUserID').val(id);
            $('#txtIsAccept').val(isAccept);
            $('#frmAccept').submit();
        });
        $('.refuseBtn').on('click',function (){
            const isAccept = $(this).attr('data-isAccept');
            const id = $(this).attr('data-id');
            $('#txtUserID').val(id);
            $('#txtIsAccept').val(isAccept);
            $('#frmAccept').submit();
        });
        $(".clickable-row").on('click',function() {
            window.location = $(this).data("href");
        });
    </script>
{{/section}}
<div class="col-sm-12 mt-3">
    <div class="card">
        <h4 class="card-header bg-dark text-white">
            Phê duyệt trở thành Seller trong vòng 7 ngày
        </h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên người dùng</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {{#if this.requests}}
                {{#each this.requests}}
                    <tr data-href="/profile/{{id}}">
                        
                        <td>{{id}}</td>
                        <td><a style="color: blue;" target="_blank" href="/profile/{{id}}">{{username}}</a></td>
                        <td>{{email}}</td>
                        
                        <td>
                            <a data-id="{{id}}" data-isAccept="true" class="acceptBtn btn btn-sm btn-success font-bold btn-long" href="#" role="button">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </a>
                            <a data-id="{{id}}" data-isAccept="false" class="refuseBtn btn btn-sm btn-danger btn-long" href="#" role="button">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>

                    </tr>
                {{/each}}
            {{else}}
                <tr class="">
                    <td colspan="4" class="text-center">
                        <p>Chưa có yêu cầu nào</p>
                    </td>
                </tr>
            {{/if}}

            </tbody>
        </table>
        <form id="frmAccept" method="post">
            <input type="text" id="txtUserID" name="id" value="">
            <input type="text" id="txtIsAccept" name="isAccept" value="">
        </form>
    </div>
    <nav style="position: relative;" class="mt-1 mb-2 float-right">
<!--        <ul class="pagination">-->
<!--            {{#if this.disablePre}}-->
<!--                <li class="page-item disabled">-->
<!--                    <a class="page-link" href="javascript:;" tabindex="-1">Previous</a>-->
<!--                </li>-->
<!--            {{else}}-->
<!--                <li class="page-item">-->
<!--                    <a class="page-link" href="?page={{this.prePage}}" tabindex="-1">Previous</a>-->
<!--                </li>-->
<!--            {{/if}}-->
<!--            {{#each this.pageNumber}}-->
<!--                {{#if isCurrent}}-->
<!--                    <li class="page-item active"><a class="page-link" href="javascript:;">{{value}}</a></li>-->
<!--                {{else}}-->
<!--                    <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>-->
<!--                {{/if}}-->
<!--            {{/each}}-->
<!--            {{#if this.disableNext}}-->
<!--                <li class="page-item disabled">-->
<!--                    <a class="page-link" href="javascript:;">Next</a>-->
<!--                </li>-->
<!--            {{else}}-->
<!--                <li class="page-item">-->
<!--                    <a class="page-link" href="?page={{this.nextPage}}">Next</a>-->
<!--                </li>-->
<!--            {{/if}}-->
<!--        </ul>-->
        <ul id="pagination" class="pagination pagination-sm mt-3 justify-content-end"></ul>
    </nav>
</div>