<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin người dùng</title>
    <link rel="icon" href="img/icon.png">
    {{#section 'css'}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <style>
            body{
                margin-top: 20px;
                background-color: #fdfcfc;
            }
            .card{
                position:relative;
                display: flex;
                flex-direction: column;

            }
            .content,.card-body{
                background-color: whitesmoke;
                text-align: center;

                border-radius: 50px;
            }
            .card-body{
                padding: 15px;
            }
            .container{
                position: relative;
            }
            .info{
                box-shadow: 5px 5px 5px #ccc;
                padding: 0;

                border-radius: 50px;

            }
            .info>.card{
                margin-bottom: 0!important;
            }
            .usr-info{
                display: flex;

                border-radius: 50px;
            }
            .rating{
                color: #fcac00;
            }
            .edit-btn {
                background: #ccc;
                padding: 10px 40px;
                text-align: center;
                color: black;
                margin: 0 auto;
                font-size: 16px;
                font-weight: bolder;
                border: none;
                border-radius: 44px;
                cursor: pointer;
            }
            .edit-btn:hover{
                background-color: #938d8d;
                color: #fff;
                text-decoration: none;
            }
            #frmUpgrade{
                display: none;
            }
            .stars-outer{
                position: relative;
                display: inline-block;
            }

            .stars-inner{
                top: 0;
                left: 0;
                white-space: nowrap;
                overflow: hidden;
                position: absolute;
                width: 0;
            }

            .stars-outer::before{
                content: "\f005 \f005 \f005 \f005 \f005";
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                color: #ccc;
            }
            .stars-inner::before{
                content: "\f005 \f005 \f005 \f005 \f005";
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                color: #f8ce0b;
            }
        </style>
    {{/section}}
    {{#section 'js'}}
<!--        <script>-->
<!--                {{#if this.message}}-->
<!--                alert('{{this.message}}');-->
<!--                {{/if}}-->
<!--        </script>-->
        <script>
            $('#send-request-btn').on('click', function (){
                $('#frmUpgrade').submit();
            });
        </script>
    {{/section}}
</head>
<body>
<!--	<h1>Hi, {{user.addr}}</h1>-->
<div class="container">
    {{#if this.message}}
        <div class="alert alert-warning alert-dismissible fade show mt-1 text-center" role="alert">
            <strong>Lưu ý! </strong> {{this.message}}.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{else}}

    {{/if}}
    <div class="row col-xl justify-content-center main">
        <div class="info col-md-8 mt-1">
            <div class="usr-info card text-center sidebar">
                <div class="card-body">
                    <img src="/img/account/avatar.png"  class="rounded-circle" alt="Photo" width="140">

                    <!--                    <img src="https://www.seekpng.com/png/detail/41-410093_circled-user-icon-user-profile-icon-png.png" class="rounded-circle" alt="Photo" width="140">-->
                    <h3>{{user.username}}</h3>
                    <div class="rating">
                        <!--                        <i class="fa fa-star" aria-hidden="true"></i>-->
                        <!--                        <i class="fa fa-star" aria-hidden="true"></i>-->
                        <!--                        <i class="fa fa-star" aria-hidden="true"></i>-->
                        <!--                        <i class="fa fa-star" aria-hidden="true"></i>-->
                        <!--                        <i class="fa fa-star" aria-hidden="true"></i>-->
                        <div class="stars-outer">
                            <div class="stars-inner" style="width: {{user.starPercentageRounded}};"></div>
                        </div>
                        <div>
                            {{#if (isNotRating user.total_rate)}}
                                <span class="ratio ml-1 " style="color: #000;">Chưa có lượt đánh giá nào</span>
                            {{else}}
                                <span class="ratio ml-1 " style="color: #000;">{{roundFloat user.starPercentage}}% lượt đánh giá tốt.
                                    <a href="/rating/{{user.id}}">Xem chi tiết</a></span>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info col-md-8 mt-2">
            <div class="card mb-3 content">
                <h2 class="m-3 pt-3">Thông tin người dùng</h2>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <h6 class="text-secondary">Họ và tên</h6>

                        </div>
                        <h6 class="col-md-9">{{user.name}}</h6>

                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <h6 class="text-secondary">Email</h6>

                        </div>
                        <h6 class="col-md-9">{{user.email}}</h6>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <h6 class="text-secondary">Ngày sinh</h6>

                        </div>
                        <h6 class="col-md-9">{{user.dob}}</h6>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-3">
                            <h6 class="text-secondary">Địa chỉ</h6>

                        </div>
                        <h6 class="col-md-9">{{user.addr}}</h6>
                    </div>
                    <div class="mt-4">
                        {{#if manage}}
                            <a href="/edit_profile" type="submit" class="edit-btn"><i class="fa fa-cog" aria-hidden="true"></i> Chỉnh sửa</a>
                            {{#if isBidder}}

                            {{else}}
                                <form id="frmUpgrade" method="post">
                                    <input type="text" id="txtIDAcc" name="id_acc" value="{{user.id}}">
                                </form>
                                <a href="#" type="submit" id="send-request-btn" class="edit-btn">Gửi yêu cầu trở thành Seller</a>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>