{{#section 'title'}}
    <title>Đăng kí tài khoản</title>
{{/section}}
{{#section 'css'}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">

{{/section}}
{{#section 'js'}}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script>
        $('#frmRegister').on('submit', function (e){
            e.preventDefault();

            // captcha
            const captcha = $('#g-recaptcha-response').val();
            if(captcha === undefined || captcha === null || captcha === ''){
                showAlert('Vui lòng xác nhận captcha');
                return;
            }
            

            const username = $('#txtUsername').val();
            const name = $('#txtName').val().trim().replace('  ', ' ');
            const email = $('#txtEmail').val().trim().toLowerCase();
            const addr = $('#txtAddr').val().trim().replace('  ', ' ');
            const password = $('#txtPassword').val();
            const confirm = $('#txtConfirm').val();
            // Khi nào nộp đồ án thì uncomment đoạn ktra này đi

            if(password.length < 8){
                showAlert('Mật khẩu quá ngắn!');
                return;
            }
            else {
                if (password !== confirm) {
                    showAlert("Mật khẩu không khớp");
                    return;
                }

            }
            if(password.includes(' ') || username.includes(' ') || email.includes(' ')){
                showAlert('Vui lòng không dùng khoảng cách trong mật khẩu, tên đăng nhập và email');
                return;
            }
            if(isNameValid(name) === true || hasNumber(name) === true){
                showAlert('Tên của bạn không hợp lệ. Tên hợp lệ chỉ gồm kí tự và khoảng trắng');
                return;
            }
            if(!isEmailValid(email)){
                showAlert('Email không hợp lệ');
                return;
            }

            
            $('#txtUsername').val(username);
            $('#txtName').val(name);
            $('#txtEmail').val(email);
            $('#txtAddr').val(addr);
            $('#txtPassword').val(password);
            
            $('#frmRegister').off('submit').submit();
        });
        $('#txtDOB').datetimepicker({
            timepicker:false,
            format:'d/m/Y',
            mask:true
        });
        function hasNumber(name) {
            var matches = name.match(/\d+/g);
            if (matches != null) {
                return true;
            }
            return false;
        };
        function isNameValid(name){
            let spChar = "/[!@#$%^&*()_+\-=\[\]{};':\\|,.<>\/?]+/";
            for (var i = 0; i < name.length; i++) {
                if (spChar.indexOf(name.charAt(i)) != -1) {
                    return true;
                }
            }
            return false;
            //return /^[a-zA-Z ]+$/.test(name);
        };
        function isEmailValid(email){
            return /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(email);
        };
        function showAlert(alertMsg){
            
            $("#warning").text(alertMsg);
            $('#warningMsg').show();
        };
        function hideAlert(){
            $('#warningMsg').hide();
        };
        $("#txtUsername").focus();
    </script>
{{/section}}
<div id="formRegister" class="col-sm-12 col-md-10 col-xl-10 mt-3">
<form method="post" id = "frmRegister">
    <div class="card">
        <h4 class="card-header bg-warning">
            Đăng ký tài khoản
        </h4>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="warningMsg"  style="display:none">
            <span id="warning" name="warning"></span>
            <button type="button" class="close"  aria-label="Close" onclick="hideAlert()">
                <p aria-hidden="true">x</p>
            </button>
        </div>
        {{#if user.msg.length}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="alertMsg">
            <span id="err" name="err">{{user.msg}}</span>
            <button type="button" class="close"  aria-label="Close" onclick="hideAlert()">
                <p aria-hidden="true">x</p>
            </button>
        </div>
        {{/if}}
        <div class="row card-body">
            <div class="col-md-5" >
                <h5>Thông tin tài khoản</h5>
                <div class="form-group">
                    <label for="txtUsername">Tên đăng nhập</label>
                    <input type="text" class="form-control" id="txtUsername" placeholder="Vui lòng nhập username..." name="username" value="{{user.username}}" autofocus required/>
                </div>
                <div class="form-group">
                    <label for="txtPassword">Mật khẩu</label>
                    <input type="password" class="form-control" id="txtPassword" placeholder="Vui lòng nhập mật khẩu..." name="pwd" required/>
                </div>
                <div class="form-group mb-5">
                    <label for="txtConfirm">Nhập lại mật khẩu</label>
                    <input type="password" class="form-control" id="txtConfirm" placeholder="Nhập lại mật khẩu..." required/>
                </div>
                 
                <div class="g-recaptcha" data-sitekey="{{lcCaptchaPublicKey}}"></div>
            </div>

            <div class="col-md-5" >
            <h5>Thông tin cá nhân</h5>
            <div class="form-group">
                <label for="txtName">Họ và tên</label>
                <input type="text" class="form-control" id="txtName" placeholder="Vui lòng nhập họ và tên..." name="name" value="{{user.name}}" required/>
            </div>
            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input type="email" class="form-control" id="txtEmail" placeholder="Vui lòng nhập email..." name="email" value="{{user.email}}" required/>
            </div>
            <div class="form-group">
                <label for="txtEmail">Ngày sinh</label>
                <input type="text" class="form-control" id="txtDOB" name="dob" placeholder="Vui lòng nhập ngày sinh..." value="{{user.dob}}" required/>
            </div>
            <div class="form-group">
                <label for="txtAddress">Địa chỉ</label>
                <input type="text" class="form-control" id="txtAddr" name="addr" placeholder="Vui lòng nhập địa chỉ..." value="{{user.addr}}" required/>
            </div>
            </div>
        </div>
        <div class="card-footer text-muted">

            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check" aria-hidden="true"></i>
                Đăng ký
            </button>
        </div>
    </div>
</form>
</div>