{{#section 'title'}}
    <title>Danh sách người bán</title>
{{/section}}

{{#section 'css'}}
    <style>
        #frmDownGradeSeller{
            display: none;
        }
        .clickable-row:hover{
            cursor: pointer;
        }
        td>a{
            color: black;
            text-decoration: none;
        }
        td>a:hover{
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
{{/section}}
{{#section 'js'}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.2/jquery.twbsPagination.min.js"></script>
    <script type="text/javascript" src="/js/paging.js"></script>
    <script>
        paging(Number.parseInt("{{this.totalPage}}"), Number.parseInt("{{this.page}}"),
            Number.parseInt(("{{this.prePage}}")), Number.parseInt(("{{this.nextPage}}")));
        $('.down-grade-btn').on('click',function (){
            const id = $(this).attr('data-id');
            $('#txtUserID').val(id);
        });
        $('#confirmBtn').on('click',function (){
            $('#frmDownGradeSeller').submit();
        });
        $(".clickable-row").on('click',function() {
            window.location = $(this).data("href");
        });
    </script>
{{/section}}
<div class="col-sm-12 mt-3">
    <div class="card">
        <h4 class="card-header bg-dark text-white">
            Quản lý các Seller
        </h4>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Tên người dùng</th>
                    <th scope="col">Email</th>
                    <th scope="col">Thời gian hết hạn</th>
                    <th class="text-center" scope="col">Hạ cấp tài khoản</th>
                </tr>
                </thead>
                <tbody>
                {{#if this.allSellers}}
                    {{#each this.allSellers}}
                        <tr data-href="/profile/{{id}}">
                            <td >{{id}}</td>
                            <td ><a style="color: blue;" href="/profile/{{id}}" target="_blank" >{{username}}  <i style="font-size: 9px" class="fa fa-external-link " aria-hidden="true"></i></a></td>
                            <td>{{email}}</td>
                            <td>{{time}}</td>
                            <td class="text-center">
                                <a data-id="{{id}}" class="down-grade-btn btn btn-sm btn-danger font-bold btn-long" href="#" role="button" data-toggle="modal" data-target="#exampleModal">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr class="">
                        <td colspan="5" class="text-center">
                            <p>Chưa có seller tạm thời nào</p>
                        </td>
                    </tr>
                {{/if}}

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Xác nhận hạ cấp</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Bạn có chắc muốn hạ cấp Seller này không ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <button id="confirmBtn" type="button" class="btn btn-primary">Xác nhận</button>
                            </div>
                        </div>
                    </div>
                </div>
                </tbody>
            </table>
        </div>
        <form id="frmDownGradeSeller" method="post">
            <input type="text" id="txtUserID" name="id" value="">
        </form>
    </div>
    <nav style="position: relative;" class="mt-1 mb-2 float-right">
<!--        <ul class="pagination">-->
<!--            {{#if this.disablePre}}-->
<!--                <li class="page-item disabled">-->
<!--                    <a class="page-link" href="javascript:;" tabindex="-1">Previous</a>-->
<!--                </li>-->
<!--            {{else}}-->
<!--                <li class="page-item">-->
<!--                    <a class="page-link" href="?page={{this.prePage}}" tabindex="-1">Previous</a>-->
<!--                </li>-->
<!--            {{/if}}-->
<!--            {{#each this.pageNumber}}-->
<!--                {{#if isCurrent}}-->
<!--                    <li class="page-item active"><a class="page-link" href="javascript:;">{{value}}</a></li>-->
<!--                {{else}}-->
<!--                    <li class="page-item"><a class="page-link" href="?page={{value}}">{{value}}</a></li>-->
<!--                {{/if}}-->
<!--            {{/each}}-->
<!--            {{#if this.disableNext}}-->
<!--                <li class="page-item disabled">-->
<!--                    <a class="page-link" href="javascript:;">Next</a>-->
<!--                </li>-->
<!--            {{else}}-->
<!--                <li class="page-item">-->
<!--                    <a class="page-link" href="?page={{this.nextPage}}">Next</a>-->
<!--                </li>-->
<!--            {{/if}}-->
<!--        </ul>-->
        <ul id="pagination" class="pagination pagination-sm mt-3 justify-content-end"></ul>
    </nav>
</div>