{{#section 'title'}}
    <title>Xác thực tài khoản</title>
{{/section}}
{{#section 'css'}}
    <style>
        :root {
            --color: #eec438;
            --color-word: #000;
        }


        .login-form {
            width: 450px;
            border-radius: 6px;
            margin: auto auto;
            display: table;
            padding: 30px 30px 0px 30px;
            box-sizing: border-box;
            box-shadow: 10px 10px 10px 10px #ccc;
            position: relative;

        }

        .form-group {
            float: left;
            width: 100%;
            margin: 0 0 10px;
            position: relative;
        }



        .login-form button {

            padding: 11px 50px;

            text-align: center;
            margin: 0 auto;
            margin-bottom: 10px;
            font-size: 20px;

            border-radius: 44px;
            width: 100%;
            height: 56px;
            cursor: pointer;
            background: var(--color);
            border-color: var(--color);
            color: var(--color-word);;
            border: 1px solid var(--color);
        }
        /*.btn-confirm{*/
        /*    */
        /*}*/
        /*.btn-wait{*/
        /*    background: #e5c766;*/
        /*    border-color: #e5c766;*/
        /*    color: rgba(63, 52, 53, 0.7);*/
        /*    border: 1px solid #e5c766;*/
        /*}*/

        .login-form btn-confirm:hover {
            opacity: 0.9;
        }

        .login-form p {
            float: left;
            width: 100%;
            text-align: center;
            font-size: 20px;
            margin: 0 0 10px;
            color: #000;
            font-style: italic;
        }
        .login-form input {
            width: 100%;
            height: 56px;
            border-radius: 74px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            font-size: 15px;
            padding-left: 75px;
            margin-bottom: 5px;
        }

        .login-form .form-group .input-icon {
            font-size: 15px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            position: absolute;
            border-radius: 25px;
            bottom: 0;
            height: 100%;
            padding-left: 35px;
            color: #666;
            font-size: 20px;
        }
        h5{
            text-align: center;

        }
        .err_email p {
            color: red;
            font-style: italic;
            font-size: 16px;
        }
        .success_email p {
            color: #028a02;
            font-style: italic;
            font-size: 16px;
        }
        @media screen and (max-width: 767px) {
            .login-form {
                width: 90%;
                padding: 15px 15px 30px;
            }
        }
    </style>
{{/section}}
{{#if this.msg.length}}
<div class="col-xl ">
    <div class="login-form  mt-5 mb-5">

            <div class="form-group">
                <p>{{msg}}</p>
            </div>
            {{#if this.isLogon}}
            {{!-- <div><button>Ok</button></div> --}}
            {{else}}
                <div><br><br><a href="/login">Go to login</a></div>

            {{/if}}
            {{#if this.verified}}

            {{else}}
                <div class="form-group ml-3">
                    <form action="{{action}}" method="post">
                        <input type="hidden" name="id_acc" value="{{id_acc}}"/>
                        <button class="btn-wait" id="send" disabled>Gửi lại trong 30s</button>
                    </form>
                </div>
            {{/if}}
            <input type="text" hidden id="resend" value="1"/>


    </div>
</div>
{{/if}}

















{{#if inputEmail}}

    <div class="col-xl">
    <div class="login-form mb-5  mt-5">
        <form action="/mailing/enter-your-email" method="post">


            <h5 class="mb-3">Bạn cần thêm email để nhận mail từ website chúng tôi</h5>

            <div class="form-group">
                <input type="email" id="email" name="email" value="{{email}}" placeholder="Nhập email của bạn..." required/>
                <span class="input-icon"><i class="fa fa-envelope"></i></span>
            </div>
            {{#if response}}
                {{#if response.success}}
                    <div class="success_email">
                        <p><i class="fa fa-envelope" aria-hidden="true"></i>{{response.notification}}</p>
                    </div>
                {{else}}
                    <div class="err_email">
                        <p><i class="fa fa-envelope" aria-hidden="true"></i>{{response.notification}}</p>
                    </div>
                {{/if}}
            {{/if}}
            {{#if response.success}}
                <button class="btn-wait" id="send" disabled>Gửi lại trong 30s</button>

            {{else}}
                <button class="btn-confirm" id="send">Gửi email xác nhận</button>
            {{/if}}


        </form>
    </div>
    </div>

{{/if}}

{{#if response.success}}
    <input type="text" hidden id="resend" value="1"/>
{{else}}
    <input type="text" hidden id="resend" value="0"/>
{{/if}}
<input type="number" hidden id="delay" value="29">







{{#section 'js'}}
    <script>


        $(window).on("load", function () {
            const resend = $('#resend').val();
            if (resend == '1') {
                const enableResend = setInterval(function () {
                    const delay = $('#delay').val();
                    // console.log(delay);
                    if (delay == 0) {
                        clearInterval(enableResend);
                        $('#send').prop('disabled', false);
                        $('#send').html('Gửi lại email xác nhận');
                    } else {
                        $('#delay').val(parseInt(delay) - 1);
                        // const resendInSeconds = $('#send').html() + ' trong ' + delay 's';
                        $('#send').html('Gửi lại trong ' + delay + 's');
                    }
                }, 1000);
            }
        });
    </script>
{{/section}}